# dependencies
node_modules/
**/node_modules/

# env
.env
**/.env
!**/.env.example

# build output
dist/
build/
**/dist/
**/build/

# next.js
.next/
out/
next-env.d.ts

# flutter
mobile/.dart_tool/
mobile/build/

# logs
*.log
npm-debug.log*

# os
.DS_Store

# prisma
backend/prisma/*.db
